body {
  background-image: url("../img/sfondo.png");
  padding: 20px;
  font-family: poppins;
}

header {
  background-color: #026c88;
  padding: 20px;
  color: white;
  text-align: center;
}
h1 {
}
.logo {
  width: 80%;
}
nav.a {
}

main {
  background-color: white;
  padding: 20px;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
