body img {
  background-image: url("sfondo.png");
}

header {
  width: 50%;
  margin: auto;
}

main {
  width: 50%;
  margin: auto;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
